beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
idna==2.10
itsdangerous==1.1.0
mysql-connector-python==8.0.24
protobuf==3.15.8
requests==2.25.1
requests-cache==0.6.2
six==1.15.0
soupsieve==2.2.1
url-normalize==1.4.3
urllib3==1.26.4
